//product
.product{
    padding: 40px 40px;
    max-width: 1080px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .product_block{
        margin: 30px 0 30px 0;
        background-color: #F1F1F1;
        width: 320px;
        height: 465px;
        border-radius: 25px;

        .product_img{
            margin: 30px 0 0 25px;
        }

        .product_title{
            font-size: 18px;
            margin-left: 25px;
        }

        .cart_total_block{
            margin: 0 auto;
            width: 260px;
            display: flex;
            justify-content: space-between;

            span{
                font-size: 18px;
                font-weight: bold;
            }

            .added_cart{
                width: 100px;
                height: 25px;
                background-color: #D6D6D6;
                border-radius: 5px;
                text-align: center;
            }
        }
    }

}